:root {
  font-size: 1rem;

  --dark-blue: #000068;
  --tile-size: 8.5vw;
  --ship-bg-color: #aa7800;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

body > header {
  flex: 0.2;
  background-color: #059bb9;
}

body > main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
