.popup input[type="text"] {
  width: 80%;
  background-color: var(--dark-blue);
  color: inherit;
  font-size: 1.3em;
  height: 1.3em;
}

.popup .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.popup input[type="submit"] {
  min-width: 3em;
}

.popup > form {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.custom-game {
  display: flex;
  align-items: center;
  justify-content: center;
}
