header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

header > h1 {
  font-size: 2em;
}

header > .game-functions {
  display: flex;
  gap: 20px;
}

header .game-function {
  background-color: #0000c8;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: inherit;
}
