main > :is(.player1, .player2) {
  display: flex;
  flex-direction: column;

  /* background-color: #adadad; */
  width: auto;
  height: auto;
  margin: 0 30px;
}

main .row {
  width: 100%;

  --tile-size: calc(15px + 2vw);

  height: var(--tile-size);
}

main .row > * {
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: #00dcd2;
  display: inline-flex;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

main .row:last-child > * {
  border-bottom: 1px solid #000;
}

main .row:not(.letters) > *:not(.number):hover {
  cursor: pointer;

  /* background-color: #14faf0; */
  filter: brightness(150%);
}

main .row > *:last-child {
  border-right: 1px solid #000;
}

main .row.letters {
  display: flex;
}

main .row.letters > *,
main .row > .number {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
}

main .row > .number {
  /* font-size: 10px; */
  vertical-align: top;
}
