@media screen and (width < 600px), (height < 500px) {
  .popup-list > * > .popup {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (aspect-ratio >= 1/2) {
  :root {
    --tile-size: calc(1.5vw + 2vh);
  }
}
