.ship-select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding-top: 2em; */
  gap: 10px;
  justify-content: center;
  height: calc(var(--tile-size) * 8);
}

.button[value="shuffle"] {
}

.ship-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, calc(30% + 30vh - 30vw + 100px));
  gap: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

.ship-select > .turn-dir {
  --chdir-btn-size: calc(var(--tile-size) * 0.8);

  cursor: pointer;
  height: var(--chdir-btn-size);
  width: var(--chdir-btn-size);
  background-color: #fff;
  border: none;
  background-image: url("../img/svg/exchange-arrow-svgrepo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ship-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  /* transform: rotate(90deg); */
  height: calc(var(--tile-size) * 4);
  width: calc(var(--tile-size) * 4);
}

[data-direction].ship {
  --horizontal: 0deg;
  --vertical: 90deg;

  cursor: pointer;
  display: flex;
  transform: scale(1);

  /* animation: pulse 1s ease-in-out 0s infinite alternate; */
}

[data-direction="vertical"].ship:not(.row > .ship) {
  flex-direction: column;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

[data-direction].ship > .ship-tile {
  background-color: var(--ship-bg-color);
  height: var(--tile-size);
  width: var(--tile-size);
  border: 1px solid #000;
}

[data-direction="horizontal"].ship > .ship-tile {
  border-right: none;
}

[data-direction="vertical"].ship > .ship-tile {
  border-bottom: none;
}

[data-direction].ship > .ship-tile:last-child {
  border: 1px solid #000;
}
